.paymentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        color: #FEFCFC;
        font-size: 22px;
        font-family: Poppins;
        font-weight: 600;
    }
}