.checkout-product-info {
	.head-checkout-info {
		font-family: "Nunito", sans-serif;
		font-weight: 500;
		margin-bottom: 29px;

		h3 {
			font-size: 18px;
			margin-bottom: 4px;
		}

		p {
			font-size: 14px;
		}
	}
}