.shopping-cart-container {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	width: 1133px;
	border-radius: 15px;
	padding: 50px 30px;
	gap: 55px;
}

.cart-info {
	display: flex;
	flex-direction: column;
	gap: 24px;
	flex-basis: 100%;
}

.payment-info {
	max-width: 388px;
	flex-basis: 100%;
	background-color: #565abb;
	padding: 19px;
	border-radius: 20px;
}
